.PostingPaper, .card {
  padding: 1rem;
  margin: 1rem;
  min-width: 25rem;
}

.PostingForm {
  display: flex;
  flex-direction: column;
}

.cardContent {
  white-space: pre-wrap;
}

body {
  background-color: antiquewhite;
}